div {
    text-align: center;
    font-size: 25px;
}

#title {
    font-size: 100px;
    font-family: "Brush Script MT", "Lucida Handwriting", Cursive;
}

#words-board {
    font-size: 40px;
    text-align: center;
}

.row, .square {
    width: 55px;
    height: 55px;
    border: 2px solid darkgrey;
    border-radius: 10px;
}

#words-board, .row, .square {
    margin-left: auto;
    margin-right: auto;
}


button{
    text-align: center;
    border: 1px solid darkgrey;
    border-radius: 5px;
    font-size: 30px;
}

.letter {
    width: 50px;
    height: 50px;
    font-size: 30px;
}

#keyboard {
    line-height: 2.2;
}

#delete, #enter {
    width: 130px;
    height: 50px;
    font-size: 30px;
    font-family: Copperplate, Fantasy;
}

.wrong {
    background-color: darkgray;
    color: white;
}

.wrongPlace {
    background-color: gold;
    color: white;
}

.right {
    background-color: green;
    color: white;
}