div {
    text-align: center;
    font-size: 25px;
}

#title {
    font-size: 100px;
    font-family: "Brush Script MT", "Lucida Handwriting", Cursive;
    color: cadetblue;
    animation-name: example;
    animation-duration: 4s;
}

@keyframes example {
    from {color: white;}
    to {color: cadetblue;}
}

#words-board {
    font-size: 40px;
    text-align: center;
}

.row, .square {
    width: 55px;
    height: 55px;
    border: 2px solid darkgrey;
    border-radius: 10px;
}

#words-board, .row, .square {
    margin-left: auto;
    margin-right: auto;
}


button{
    text-align: center;
    border: 1px solid darkgrey;
    border-radius: 5px;
    font-size: 30px;
}

.letter {
    width: 50px;
    height: 50px;
    font-size: 30px;
}

#keyboard {
    line-height: 2.2;
}

#delete, #enter {
    width: 130px;
    height: 50px;
    font-size: 30px;
    font-family: Copperplate, Fantasy;
}

.wrong {
    background-color: darkgray;
    color: white;
}

.wrongPlace {
    background-color: gold;
    color: white;

    animation-name: rotate;
    animation-duration: 0.7s;
    animation-direction: reverse;
}

.right {
    background-color: green;
    color: white;

    animation-name: rotate;
    animation-duration: 0.7s;
    animation-direction: reverse;
}

@keyframes rotate {
    0% {
        transform: rotateZ(0deg);
    }
    100% {
        transform: rotateX(150deg);
    }
}